APScheduler==3.10.4
beautifulsoup4==4.12.2
geotext==0.4.0
pandas==2.1.4
pdfminer==20191125
pdfminer.six==20221105
pydantic==2.5.3
pymongo==4.6.1
pytest==7.4.4
python-dotenv==1.0.0
Requests==2.31.0
SQLAlchemy==2.0.22
streamlit==1.29.0
